<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章详情</title>
    <link rel="stylesheet" href="/css/blogDetail.css">
</head>

<body>
    <div id="container">
        <div class="blog">

            <h3>
                标题:<%=params.title%>
            </h3>
            <p>
                发表时间:<%=params.post_time%>
            </p>
            内容:<br>
            <p class="content">
                <%=params.content%>
            </p>
        </div>
        <div class="comment">
            <p>评论</p>

            <%
            for(let i = 0;i<comments.length;i++){
                let com = comments[i];
%>
            <div class="com">
                <p class="com-content"><%=com.content%></p>
                <p class="com-detail"><%=com.post_time%></p>
            </div>
            <%
            }
%>
        </div>

    </div>
</body>

</html>